<!DOCTYPE html>
<html lang="zh-CN" class="bg">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<title>{$SEO.title}</title>
	<meta name="keywords" content="{$SEO.keywords}">
	<meta name="description" content="{$SEO.description}">
	<!-- Bootstrap -->
	<link href="__THIRD__/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<!-- HTML5 Shim and Respond.js IE8 flowers of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<script src="__JS__/jquery.min.js"></script>
	<script src="__THIRD__/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="__JS__/admin.js"></script>
	<!-- 引入iconfont -->
	<link href="__THIRD__/iconfont/iconfont.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="__CSS__/install.css">
	<script>
		Namespace.register("EBCMS.{$namespace}");
		$(function(){
			EBCMS.{$namespace}.step = function step(step){
				$.get('{:U('index')}',{
					step:step,
				},function(data){
					if (data.status) {
						$('#step').html(data.info);
						$('#stepbtn'+step).addClass('active btn-primary').siblings().removeClass('active btn-primary').addClass('btn-default');
					}else{
						alert(data.info);
					};
				});
			};
			EBCMS.{$namespace}.step(0);
		});
	</script>
</head>
<body>
<div style="width:900px;position:absolute;top:50%;left:50%;margin-left:-450px;margin-top:-350px;overflow:auto;">
	<div class="well well-lg" style="width:100%;margin-bottom:0px;">
		<div class="row">
			<div class="col-md-3">
				<div class="block-center"><img src="__IMAGE__/logo.png" ></div>
			</div>
			<div class="col-md-9">
				<h2><b>欢迎使用 易贝<sup>®</sup>内容管理系统</b></h2>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-3">
				<button type="button" class="btn btn-primary btn-lg btn-block" id="stepbtn0">安装协议</button>
				<button type="button" class="btn btn-default btn-lg btn-block" id="stepbtn1">环境检测</button>
				<button type="button" class="btn btn-default btn-lg btn-block" id="stepbtn2">数据设置</button>
				<button type="button" class="btn btn-default btn-lg btn-block" id="stepbtn3">安装成功</button>
				<hr>
				<p class="text-muted" style="border: 1px #D0D0D0 dotted;padding: 10px;background: #FFF;">易贝内容管理系统是由四川易贝网络科技公司开发，欢迎使用！</p>
			</div>
			<div class="col-md-9" id="step">
				
			</div>
		</div>
	</div>
</div>
</body>
</html>